{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PayForm{% endblock %}
{% block page_content %}
<div class="page-header">
</div>
	<form method="post" action="https://wl.walletone.com/checkout/checkout/Index">
	  	<input type="hidden" name="WMI_CURRENCY_ID" value="{{WMI_CURRENCY_ID}}" />
	  	<input type="hidden" name="WMI_MERCHANT_ID" value="{{WMI_MERCHANT_ID}}" />
	  	<input type="hidden" name="WMI_PAYMENT_AMOUNT" value="{{WMI_PAYMENT_AMOUNT}}" />
	  	<input type="hidden" name="WMI_PAYMENT_NO" value="{{WMI_PAYMENT_NO}}" />
	  	<input type="hidden" name="WMI_PTENABLED" value="{{WMI_PTENABLED}}" />
	  	<input type="hidden" name="WMI_SIGNATURE" value="{{WMI_SIGNATURE}}" />
	  	<input type="hidden" name="WMI_FAIL_URL" value="{{WMI_FAIL_URL}}" />
	  	<input type="hidden" name="WMI_SUCCESS_URL" value="{{WMI_SUCCESS_URL}}"/>
	  	<input type="submit" value="Continue" />
	</form>
{% endblock %}